<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.mkuthan.streamprocessing" level="DEBUG"/>
    <logger name="org.apache.beam" level="WARN"/>
    <logger name="com.spotify.scio" level="WARN"/>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>