name: CI

on:
  workflow_dispatch: ~
  pull_request: ~

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  scalafmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: sbt scalafmtCheckAll

  scapegoat:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: sbt scapegoat
      - uses: actions/upload-artifact@v4
        with:
          name: scapegoat-report
          path: "**/scapegoat-report/*.html"

  scalafix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: sbt "scalafixAll --check"

  test:
    runs-on: ubuntu-latest
    needs: [scalafmt, scapegoat, scalafix]
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup
      - run: sbt jacoco
      - uses: codecov/codecov-action@v5
